<div class="blog-header">
  <div class="container">
    <h1 class="blog-title"> <%= link_to "My Blog", blogs_path %></h1>
    <p class="lead blog-description">Just a girl with some random blog posts..</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %> |
    </span>
    <span>
      <%= link_to "Topics", topics_path %>
    </span>
  </div>
</div>