<h1>About Me</h1>
<p>This page is all about me and my life.</p>

<hr color = "white">

<h5>About My Life</h5>
<p>I am 17 years old. I live in Utah but I am originally from Tacoma, Washington. I have 6 animals that I 
    live with on a daily and I am about to have two dogs with my boyfriend. We have one already and are 
    getting ready to adopt another pit bull.
</p>

<h5>Why did I decide to become a developer?</h5>
<p>I first decided I wanted to become a developer and a programmer when I was in 8th grade. My grade went 
    on a tour of the college campus we would be transported to if we took classes there and coding was one
    of the classes and they showed this awesome video that I still watch every now and again to this day.
</p>

<h4>ANYONE CAN DO IT, IF YOU JUST BELIEVE</h4>
<p>I am not going to lie, programming is not an easy task. But if you stick to it and you push yourself to 
    do the best you can, you can achieve great and amazing things in this world.</p>