<h1>Contact Me</h1>

<hr color="white">

<div class = "row">
    <div class = "col-md-6">
        <p>Want to talk to me? Call me at <b><%= number_to_phone "8016641288" %></b></p>

        <p>You can text me as well. (Same number as above). You can email me at <b>teddyfriekenbear123@gmail.
            com</b></p>

        <p>Calling or texting is preferred because I hardly check my email.</p>

        <h6>Address</h6>
        <p>6667 Interlochin Lane, West Jordan, Utah 84084</p>
    </div>
    
    <div class = "col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.9880253189!2d-111.98731568445673!3d40.630146050555666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528e9aff4069a3%3A0x77fa45cfd22f64fb!2s6667+Interlochen+Ln%2C+West+Jordan%2C+UT+84084!5e0!3m2!1sen!2sus!4v1501728018042" 
        width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>


